<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- Advertisement CSS dosyası -->
  <link rel="stylesheet" href="./src/css/advertisement.css">

  <title>Focus Frame Project</title>
</head>
<body>
  


  <!-- Reklam kısmı -->
  <section class="cta-pro">
    <div class="cta-wrapper">
      <div class="cta-marquee">
        <h2 class="cta-title">
          <span class="master">MASTER </span>
          <span class="your-photo">YOUR PHOTOGRAPHY </span>
          <span class="skills">SKILLS WITH US!</span>
        </h2>
      </div>
    </div>
  </section>

  <!-- Diğer içerikler -->

</body>
</html>
