<section id="courses">
  <div class="section-courses-title">
    <h2 class="courses-title">
      Our <span style="color: #bea69e">Courses</span>
    </h2>
    <p>
      At our photography school, we offer a variety of courses that cover all
      aspects of this fascinating art. Regardless of your experience or skill
      level, we have courses to suit your needs and goals.
    </p>
  </div>

  <ol class="courses-list">
   <li class="courses-box">
    <div class="box-top"><span class="list-number">01</span>
      <div class="icon-wrapper"> <a href="#signup-container"><svg class="icon icon-arrow"><use xlink:href="./img/courses/symbol-defs.svg#icon-arrow"></use></svg></a></div>
    </div>
      
      <div class="box-content"><h3 class="box-title">Basics of <br/>photography</h3>
      <p>
        During this course, you will be able to familiarize yourself with
        different types of cameras, learn the basics of composition.
      </p></div>
      
    </li>
    <li class="courses-box">
       <span class="list-number">02</span>
        <div class="icon-wrapper"> <a href="#signup-container"><svg class="icon icon-arrow"><use xlink:href="./img/courses/symbol-defs.svg#icon-arrow"></use></svg></a></div>
      <div class="box-content"><h3 class="box-title">Landscape<br/> photography</h3>
      <p>
        In this course, you'll learn how to choose the right angles, frame
        landscapes, and create depth and perspective in your images.
      </p></div>
      
    </li>
    <li class="courses-box">
       <span class="list-number">03</span>
        <div class="icon-wrapper"> <a href="#signup-container"><svg class="icon icon-arrow"><use xlink:href="./img/courses/symbol-defs.svg#icon-arrow"></use></svg></a></div>
      <div class="box-content"><h3 class="box-title">Portrait <br/>photography</h3>
      <p>
        During this course, you will learn to choose the right lighting,
        reproduce the mood and expressions on the faces of the models.
      </p></div>
      
    </li>
  </ol>
</section>