<footer>
  <div class="footer-top">
    <div class="footer-first">
      <a href="/" class="footer-logo">
        <img class="footer-img" src="../img/Focus-Frame.png" />
      </a>
      <div class="footer-contact">
        <address class="footer-address">
          <a href="tel:+380665438912">+38 066 543 8912</a>
          <p>1678 S. Pioneer Road Salt Lake City UT 84104</p>
        </address>
      </div>
    </div>
    <div class="footer-container">
      <div class="footer-social">
        <ul class="footer-media">
          <li>
            <a href="https://www.instagram.com/goit.turkiye/" target="_blank"
              >INSTAGRAM</a
            >
          </li>
          <li>
            <a
              href="https://www.facebook.com/people/GOIT-T%C3%BCrkiye/61558036560161/"
              target="_blank"
              >FACEBOOK</a
            >
          </li>
          <li>
            <a href="https://m.youtube.com/@GoITTurkey" target="_blank"
              >YOUTUBE</a
            >
          </li>
        </ul>
      </div>
      <div class="footer-informaiton">
        <ul class="footer-list">
          <li><a href="#about">ABOUT US</a></li>
          <li><a href="#our">OUR COURSES</a></li>
          <li><a href="#mentors">OUR MENTORS</a></li>
          <li><a href="#reviews">REVIEWS</a></li>
          <li><a href="#contacts">CONTACTS</a></li>
        </ul>
      </div>
    </div>
    <div>
      <form class="footer-form">
        <label class="footer-box" for="newsletter-email"> </label>
        <input
          id="newsletter-email"
          type="email"
          name="email"
          placeholder="Enter your email"
          required
        />
        <button class="footer-btn" type="submit">Go</button>
      </form>
    </div>
  </div>
  <div class="footer-finish">
    <div>
      <p>Privacy Policy</p>
      <p>Public Offering Agreement</p>
    </div>
    <div>
      <p>2024 Focus Frame</p>
      <p>&copy; All rights reserved</p>
    </div>
  </div>
</footer>
