<div class="container">
    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <header>
        <div class="menu">
            <div class="header-logo">
                <svg class="icon-header-logo">
                    <use xlink:href="./img/icon.svg#icon-FocusFrame"></use>
                </svg>
            </div>
            <div class="header-page-nav">
                <ul>
                    <li>About us</li>
                    <li>Our courses</li>
                    <li>Our mentors</li>
                    <li>Reviews</li>
                    <li>Contacts</li>
                </ul>
            </div>
        </div>
        <div class="mobile-menu">
            <div class="mobile-icon-header">
                <svg class="mobile-icon-header-logo">
                    <use xlink:href="./img/icon.svg#icon-FocusFrame"></use>
                </svg>
            </div>
            <div class="mobile-button">
                <svg class="mobile-icon-arrow">
                    <use xlink:href="./img/icon.svg#icon-arrow"></use>
                </svg>
                <label for="nav-toggle" class="mobile-icon-nav-label">
                    <svg class="mobile-icon-nav">
                        <use xlink:href="./img/icon.svg#icon-Nav"></use>
                    </svg>
                </label>
            </div>
        </div>
        <div class="header-main-button">
            <button class="header-button" onclick="window.location.href='/src/partials/signup.html'">Sign up</button>
        </div>

        <div class="menu-landing">
            <div class="menu-landing-x">
                <label for="nav-toggle" class="menu-landing-x-label">
                    <svg class="icon-menu-landing-x">
                        <use xlink:href="./img/icon.svg#icon-x"></use>
                    </svg>
                </label>
            </div>
            <div class="menu-landing-nav">
                <ul class="menu-landing-nav-ul">
                    <li>About us</li>
                    <li>Our courses</li>
                    <li>Our mentors</li>
                    <li>Reviews</li>
                    <li>Contacts</li>
                </ul>
            </div>
            <div class="menu-landing-picture">

            </div>
        </div>
    </header>

</div>