<section class="hero-section">
  <div class="hero-1">
    <div class="text-area">
      <h1>
        Discover the magic of
        <span class="photography-text">photography</span> in our school
      </h1>
      <p class="offer-text">
        Our photography school offers an unforgettable journey, where you can
        learn the basics of composition, master technical skills, translate your
        unique ideas.
      </p>
    </div>

    <div class="hero-1-footer">
      <div class="happy-students">
        <div class="students-pictures-area">
          <img
            class="student-image1"
            src="./img/girl_1.png"
            alt="Caitlyn King"
          />

          <img
            class="student-image2"
            src="./img/boy.png"
            alt="Jordan Burgess"
          />

          <img
            class="student-image3"
            src="./img/girl_2.png"
            alt="Adriana O'Sullivan"
          />
        </div>

        <div class="happy-students-text-area">
          <p class="our-happy-text">Our happy students</p>

          <div class="icon-arrow-area">
            <svg class="icon-arrow">
              <use xlink:href="./img/symbol-defs.svg#icon-arrow"></use>
            </svg>
          </div>
        </div>
      </div>

      <div class="reviews-area">
        <div class="icon-star-area">
          <svg class="icon-star">
            <use xlink:href="./img/symbol-defs.svg#icon-star"></use>
          </svg>
        </div>

        <div class="reviews-text-area">
          <p class="reviews-text">Reviews</p>
          <p class="amount-text">+1500</p>
        </div>
      </div>
    </div>
  </div>

  <div class="hero-2">
    <img class="carrot-image" src="./img/carrot.png" alt="carrot" />
  </div>
</section>
