<section class="reviews">
    <h2 class="reviews-header">Reviews</h2>
    <div class="cards">

        <div class="student-frame">
            <div class="cards-top">
                <div class="reviews-top">
                    <div class="reviews-img-frame">
                        <img src="..\img\user.jpg" alt="Abraham Baker" class="reviews-img" width="56px" height="56px" />
                    </div>
                    <div class="reviews-top-content">
                        <h3>Abraham Baker</h3>
                        <span class="student">Student</span>
                    </div>
                </div>
                <ul class="stars-frame">
                    <li>
                        <svg class="icon-stars" width="12" height="12">
                            <use href="..\img\icons.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="icon-stars" width="12" height="12">
                            <use href="..\img\icons.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="icon-stars" width="12" height="12">
                            <use href="..\img\icons.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="icon-stars" width="12" height="12">
                            <use href="..\img\icons.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="icon-stars-last" width="12" height="12">
                            <use href="..\img\icons.svg#icon-star"></use>
                        </svg>
                    </li>
                </ul>
            </div>

            <div class="opinion-frame">
                <p class="reviews-content">
                    I am very pleased that I decided to enroll in photography school. The teachers turned out to be very
                    talented and
                    experienced professionals who share their knowledge and are dedicated to their work. I was able to
                    expand my
                    skills and
                    discover my own style.
                </p>
            </div>
        </div>

        <div class="student-frame-2">
            <div class="cards-top">
                <div class="reviews-top">
                    <div class="reviews-img-frame">
                        <img src="..\img\user2.jpg" alt="Amanda Lowery" class="reviews-img" width="56px"
                            height="56px" />
                    </div>
                    <div class="reviews-top-content">
                        <h3>Amanda Lowery</h3>
                        <span class="student">Student</span>
                    </div>
                </div>
                <ul class="stars-frame">
                    <li>
                        <svg class="icon-stars" width="12" height="12">
                            <use href="..\img\icons.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="icon-stars" width="12" height="12">
                            <use href="..\img\icons.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="icon-stars" width="12" height="12">
                            <use href="..\img\icons.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="icon-stars" width="12" height="12">
                            <use href="..\img\icons.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="icon-stars-last" width="12" height="12">
                            <use href="..\img\icons.svg#icon-star"></use>
                        </svg>
                    </li>
                </ul>
            </div>
            <div class="opinion-frame">
                <p class="reviews-content">
                    The courses at the photography school exceeded all my expectations. I gained not only technical
                    knowledge, but also
                    inspiration and motivation to reach new heights in my creativity. Hands-on classes and workshops
                    helped me understand
                    different styles of photography.
                </p>
            </div>
        </div>

    </div>
</section>