<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/signup.css" />
</head>
<!--SIGN UP SECTION-->
<section id="signup-container">
    <div class="signup">
    <h2 class="signup-title">
        Sign <span>Up</span>
    </h2>

    <p class="signup-text">
        Please use the form below to contact us. Enter your name, email, and message and we'll get back to you shortly.
    </p>

    <form class="signup-form">
         
        <!-- NAME -->
        <input type="text" placeholder="Enter your name" minlength="2" maxlength="20" required />

        <!-- EMAIL -->
        <input type="email" placeholder="Enter your email" required />

        <!-- MESSAGE -->
        <textarea placeholder="Message" minlength="5" maxlength="50"
            required></textarea>

        <!-- SUBMIT -->
        <button type="submit" class="signup-btn">SEND</button>

    </form>

    <p class="signup-policy">
        By clicking on “Send” button, you agree to our 
        <a href="#">Privacy Policy</a>, and allow Promodo to use this information for marketing
        purposes.
    </p>
    </div>

    <div class="signup-images">
        <div class="big-oval-bg">
        <img src="./img/isabella-mendes-lRgkUlxJCkA-unsplash.png" alt="Camera Equipment" class="image-left" />
        </div>
        <div class="image-oval-bg">
        <img src="./img/video-entry-product.png" alt="Camera" class="image-right" />
        </div>
    </div>
</section>