#about{
    display: flex;
    flex-direction: column;
    gap:40px;
    margin:80px 20px;
    font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.28px;
}
.tablet-view{
    display: flex;
    flex-direction: column;
    gap:40px;
}
.about-title {
  font-family: DM Sans;
  font-weight: 500;
  font-style: Medium;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -1.12px;
}
.about-img-box{
    width: 335px;
    height: 209px;
    border-radius: 1000px;
    background-image: url(../img/aboutimg.jpg);
    background-size:cover;
    background-position: center;

}
.content-about{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin:0;
}

@media (min-width: 768px) {
    #about{
    display: flex;
    flex-direction: column;
    gap:50px;
    margin:100px 32px;
    font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;
}
.about-title {
    font-size: 48px; 
    line-height: 54px; 
    letter-spacing: -1.92px;
}
  .about-img-box {
    width: 704px;
    height: 340px;
    border-radius: 1000px;
    background-image: url(../img/aboutimg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .content-about {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
    width: 600px;
  }
  .content-about p {
    width: 280px;
  }
}

@media (min-width: 1280px){
  #about{
    display: flex;
    flex-direction:column;
    gap:50px;
    margin:150px 100px;
    font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;
}
.tablet-view{
    display: flex;
    flex-direction: row;
    gap:40px;
}
.about-title {
    font-size: 48px; 
    line-height: 54px; 
    letter-spacing: -1.92px;
}
 .about-img-box {
    width: 488px;
    height: 260px;
    border-radius: 1000px;
    background-image: url(../img/aboutimg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
    .content-about {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    width: 552px;
    
  }
  .content-about p {
    width: 280px;
  }
}