
h2,
h3,
p,
span {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


h2 {
    font-family: DM Sans;
    font-weight: 500;
    font-size: 48px;
    line-height: 54px;
    letter-spacing: -4%;
}

h3 {
    font-family: DM Sans;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
}

.reviews {
    display: flex;
    flex-direction: column;
    width: 335px;
    height: 356px;
    gap: 40px;
    align-items: flex-start;
    margin: 80px 20px;
}

.reviews-img-frame {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 100px;
    overflow: hidden;
    background-color: #121212;
}

.student-frame {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 335px;
    height: 244px;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
}

.student-frame-2 {
    display: none;
}

.reviews-top {
    display: flex;
    flex-direction: row;
    width: 220px;
    height: 56px;
    gap: 10px;
}

.reviews-top-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 145px;
    height: 56px;
    gap: 4px;
}

.student {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
}

.stars-frame {
    display: flex;
    flex-direction: row;
    width: 96px;
    height: 16px;
    margin-left: 66px;
    gap: 4px;
    list-style-type: none;
}

.icon-stars {
    fill: #bea69e;
    width: 20px;
    height: 20px;
}

.icon-stars-last {
    fill: #414141;
    opacity: 20%;
    width: 20px;
    height: 20px;
}

.icon-stars-empty {
    fill: #ffffff;
    opacity: 20%;
}

.reviews-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 295px;
    height: 108px;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -2%;
}

.cards-top {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) and (max-width: 1158px) {
    .reviews {
        width: 704px;
        height: 300px;
        margin: 100px 32px;
    }

    .student-frame {
        width: 640px;
        height: 196px;
    }

    .stars-frame {
        display: flex;
        width: 116px;
        height: 20px;
        justify-content: center;
        list-style-type: none;
    }

    .cards-top {
        display: flex;
        flex-direction: row;
        justify-content: inherit;
    }

    .reviews-content {
        width: 600px;
        height: 80px;
        text-align: left;
    }
}

@media (min-width: 1158px) {
    .reviews {
        width: 1080px;
        height: 320px;
        margin: 150px 100px;
        gap: 40px;
    }

    .student-frame {
        width: 530px;
        height: 216px;
        gap: 20px;
    }

    .student-frame-2 {
        display: block;
        flex-direction: column;
        justify-content: space-between;
        width: 530px;
        height: 216px;
        padding: 20px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 12px;
        gap: 20px;
    }

    .stars-frame {
        display: flex;
        flex-direction: row;
        width: 116px;
        height: 20px;
    }

    .cards-top {
        display: flex;
        flex-direction: row;
        justify-content: inherit;
    }

    .reviews-content {
        width: 490px;
        height: 100px;
    }

    .reviews-top-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 153px;
        height: 56px;
        gap: 4px;
    }

    .reviews-top-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 153px;
        height: 56px;
        gap: 4px;
    }

    .cards {
        display: flex;
        flex-direction: row;
        width: 1240px;
        height: 196px;
        gap: 40px;
    }

    .reviews-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .opinion-frame2 {
        margin-top: 30px;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: -2%;
    }
}