/* SIGN UP BAŞLANGIÇ */

/* --- MOBİL (varsayılan) --- */
.signup {
    width: 335px;
    min-height: 523px;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
    font-family: "DM Sans", sans-serif;
    background-color: #121212;
}

.signup-images {
    display: none;
}

/* TITLE */
.signup-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.14286;
    letter-spacing: -0.04em;
    color: #fff;
}

.signup-title span {
    color: #bea69e;
}

/* DESCRIPTION TEXT */
.signup-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 41px;
}

/* FORM */
.signup-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* INPUT & TEXTAREA */

.signup-form input,
.signup-form textarea {
    padding: 14px 18px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    color: #ffffff;
}


.signup-form textarea {
    resize: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    height: 112px;
    margin-bottom: 40px;
}

.signup-form input::placeholder,
.signup-form textarea::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    color: #fff;
    opacity: 0.7;
}

/* SUBMIT BUTTON */
.signup-btn {
    border-radius: 12px;
    padding: 14px 127px;
    width: 100%;
        padding: 16px 0;
    background: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    text-transform: uppercase;
    color: #121212;
}

/* POLICY TEXT */
.signup-policy {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33333;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 20px;
    padding-bottom: 0;
}

.signup-policy a {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: rgba(255, 255, 255, 0.5);
}

/* --- TABLET --- */

@media (min-width: 768px) {
    .signup {
        width: 480px;
        min-height: 577px;
        background-color: #121212;
        padding-top: 100px;
        padding-left: 32px;
        padding-right: 256px;
    }

    .signup-title {
        font-size: 48px;
        line-height: 1.125;
    }

    .signup-text {
        font-size: 16px;
        line-height: 1.25;
    }

    .signup-form {
        gap: 16px;
    }

    .signup-form input,
    .signup-form textarea {
        padding: 20px 18px;
    }

    .signup-form input::placeholder,
    .signup-form textarea::placeholder {
        font-size: 16px;
        line-height: 1.25;
    }

    .signup-btn {
        font-size: 18px;
        line-height: 1.55556;
        padding: 16px 216px;
        width: 100%;
            padding: 16px 0;
    }

    .signup-policy {
        font-size: 14px;
        line-height: 1.28571;
        padding-bottom: 100px;
    }
}

/* --- DESKTOP (1280px+) --- */
@media (min-width: 1280px) {
        .signup {
            min-width: 480px;
            min-height: 578px;
            margin-left: 100px;
        }

        .signup-images {
            display: flex;
            flex-direction: row;
            position: relative;
            gap: 20px;
            right: 100px;    
        }
    
        #signup-container {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            max-width: 1280px;
            margin: 0 auto;
            padding: 40px;
            background-color: #121212;
        }
    
        .big-oval-bg {
            border-radius: 1000px;
            width: 180px;
            height: 288px;
            background: #bea69e;
            position: relative;
            margin-bottom: 38px;
            margin-top: 265px;
        }
    
        .big-oval-bg .image-left {
            position: absolute;
            width: 180px;
            height: 200px;
            top: 50%;
            left: 38%;
            padding-top: 76px;
            transform: translate(-50%, -50%);
        }
    
        .image-oval-bg {
            border-radius: 1000px;
            width: 340px;
            height: 540px;
            background: #1d1d1d;
            position: relative;
            padding-bottom: 38px;
        }

        .image-oval-bg .image-right {
            position: absolute;
            width: 240px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding-top: 88px;
        }                       

}

/* --- DESKTOP (1440px+) --- */
@media (min-width: 1440px) {
    #signup-container {
        max-width: 1440px;
    }
}

/* SIGN UP BİTİŞ */